/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrapper{
    width: 100%;
    position: relative;
}
.instagram{
    height: 100vh;
    width: 100%;
    background-color: red;
    display: flex;
   
}
.sidebar{
    height: 100%;
    width: 20%;
    position: fixed;
    background-color: aliceblue;
}
.rightcontainer{
    height: 100%;
    width:calc(100%-20%);
     position: fixed;  
    right: 0;
    background-color: aliceblue;   
    display: flex;

}
.topnav{
    height: 10vh;
    width: calc(100%-20%);
    background-color: yellow;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.bottomnav{
    height: 10vh;
    width: 100%;
    top: calc(100%-90vh);
    background-color: blue; 
    position: fixed;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.warrper{
    width: 100%;
    position: relative;
}
.instagram{
    height: 100vh;
    width: 100%;
    /* display: flex; */
    flex-direction: column;
}
.sidebar{
    height: 100%;
    width: 20%;
    background-color: #FFFFFF;
    position: fixed;
    /* display: flex; */
}
.top-sidenav{
    display: flex;
    align-items: center;
    

}
.top-sidenave h1{
font-size: medium;

}
.rightcontainer{
    height: 100%;
    width: calc(100% - 20%);
    background-color: #F6F6F6;
    position: fixed;
    right: 0;
}
.topnav{
    height: 10vh;
    width: 100%;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px ;
}

.box .left{
    height: 100%;
    width: calc(100%/2);
    background-color: #FFFFFF;
    
   
}
.box input{
    width: 400px;
    background-color: #FFFFFF;
    padding: 10px 20px;
    margin: 30px;
    border-radius: 50px;
    border: none;

    

}
.box .right{
    height: 100%;
    width: calc(100%/2);
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.box button{
    background-color: #EB0A6E ;
    color: white;
     padding: 10px 20px; 
    /* margin: 20px; */
    border-radius: 50px;
    border: none;

}
.box i{
    font-size: 25px;
    padding: 10px;
    color: rgb(33, 32, 32);
}
.bottomnav{
    height: 15vh;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;

  

}
h2{
    padding-top: 2px;
    padding-left: 10px;
    
    
    
}
.stories-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: auto ;
    scrollbar-width: none;
    padding-left: 10px;
    padding-right: 10px;
    


}
.circle-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.circle-container h1{
    font-size: 16px;
}

.circle{
    height: 50px;
    width: 50px;
    background-color:#fff;
    flex-shrink: 0;
    border-radius: 50px;
    border: 3px  solid #994e6c;
    padding: 2px;

}
.circle img{
    height: 100%;
    width: 100%;
   border-radius: 50px;
    object-fit: cover ;
}
.feed-container{
    height: calc(100%-25vh);
    width: 100%;
    position: fixed;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 12px;
    /*  */
    /* background-color: red; */
    bottom: 0; 

}
.feed-container h1{
    font-weight: 400;
    
}
.post-container{
    height: 70vh;
    width: 100%;
    /* background-color: red; */
    overflow: auto;

    bottom: 0%;
    position: relative;
}
.posts{
height: 70vh;
width: 50%;

margin-bottom: 3%;
margin-left: 15%;

}
.profile{
    height: 5vh;
    width: 100%;
    
    display: flex;
    align-items: center;
    gap: 5px; 
    margin-bottom: 20px;
}
.profile-circle{
     height: 40px;
    width: 40px;
    background-color: #000;
    border-radius: 50px;
    overflow: hidden;

}
.profile h1{
    font-size: 18px;

}
.profile-circle img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.post-image-container{
    height: 60vh;
    width: 100%;
    background-color: #000;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
    /* padding-bottom: 20px; */
}
.post-image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.caption p{
    font-size: 18px;
}
.engagement-section{
    height: 6vh;
    width: 100%;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.engagement-section i{
    padding: 10px;
    margin: 10px;
    gap: 10px;

}